.containerContactItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid 3px;
  margin-bottom: 10px;
}

.containerContactItem p {
  margin: 0.3em;
  font-size: large;
  text-overflow: ellipsis;
  overflow: hidden;
}

.edit {
  background-color: aqua;
}
